---
import fs from 'node:fs';
const podcastData = JSON.parse(fs.readFileSync('src/content/podcast.json', 'utf-8'));
---

<section id="podcast" class="transition-opacity duration-500 x-100 sm:min-h-screen relative">
  <div class="pb-24 pt-8 max-w-3xl sm:min-h-screen flex gap-4 sm:gap-[10%] items-center justify-center m-auto flex-col sm:flex-row">
    <img data-speed="-1.5" data-movex="500" src="/images/background/bg-el1.png" width="100" height="100" alt="" class="absolute z-0 top-[50vh] parallax-bg" />
    <img data-speed="-1.3" data-movex="400" src="/images/background/bg-el3.png" width="60" height="120" alt="" class="absolute z-0 top-[10vh] left-[15vw] parallax-bg" />
    <img data-speed="-1.1" data-movex="-300" src="/images/background/bg-el2.png" width="100" height="100" alt="" class="absolute z-0 top-[70vh] right-0 parallax-bg" />

    <div class="flex flex-col gap-6 z-10">
      <h2 class="font-volkhov text-xl lg:text-3xl text-yellow">{podcastData.title}</h2>
      <p>{podcastData.description}</p>
      <p>{podcastData.secondaryDescription}</p>
      <div class="w-full">
        <div class="flex flex-wrap gap-4 items-center sm:justify-start justify-center">
          <a href={podcastData.listenLink} target="_blank"><button class="primary">Listen Anywhere</button></a>
          <a href={podcastData.youtubeLink} target="_blank"><button class="secondary">View on Youtube</button></a>
        </div>
        <a class="link text-center block" href={podcastData.guestRecommendLink} target="_blank">Recommend a guest</a>
      </div>
    </div>

    <img class="hover" src={podcastData.coverImage} width="300" height="300" alt="greenpill podcast cover" />
  </div>
</section>
